<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button
      (click)="sidenav.toggle()">
         <mat-icon class="mat-18">menu</mat-icon>
      </button>
   </mat-toolbar>

   <mat-nav-list dense>
       <a mat-list-item routerLink="./listado" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="mat-18">label</mat-icon>
        <span>Listado de Heroes</span>
       </a>

       <a mat-list-item routerLink="./agregar" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="mat-18">add</mat-icon>
        <span>Agregar Heroe</span>
       </a>

       <a mat-list-item routerLink="./buscar" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon class="mat-18">search</mat-icon>
        <span>Buscar Heroe</span>
       </a>
   </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar>
     <button mat-icon-button
     (click)="sidenav.toggle()">
        <mat-icon class="mat-18">menu</mat-icon>
     </button>

     <span class="spacer"></span>

     <button mat-button>Logout</button>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
